GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback
GOOGLE_CALENDAR_SCOPES=https://www.googleapis.com/auth/calendar.events
APP_TIMEZONE=Asia/Jakarta
BERT_CHECKPOINT_PATH=../LEGACY/last_trained_model_checkpoint.pth
WHISPER_MODEL=base
WHISPER_LANGUAGE=en
FRONTEND_URL=http://localhost:5173

