GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ENABLE_GOOGLE_CALENDAR=false
GOOGLE_REDIRECT_URI=http://localhost:8001/api/auth/google/callback
GOOGLE_CALENDAR_SCOPES=https://www.googleapis.com/auth/calendar.events,openid,email,profile
APP_TIMEZONE=Asia/Jakarta
ENVIRONMENT=local
LOAD_MODELS_ON_STARTUP=false
SPACY_MODEL=en_core_web_sm
BERT_CHECKPOINT_PATH=../LEGACY/last_trained_model_checkpoint.pth
BERT_HF_REPO_ID=DimasAI20/language-based-scheduler-bert-checkpoint
BERT_HF_FILENAME=last_trained_model_checkpoint.pth
BERT_DOWNLOAD_FROM_HF=false
WHISPER_MODEL=base
WHISPER_LANGUAGE=en
FRONTEND_URL=http://localhost:5173
